<div id="<%= dom_id creator %>">
  <p>
    <strong>Name:</strong>
    <%= creator.name %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= creator.nationality %>
  </p>

   <p>
    <strong>Spices:</strong>
    <% creator.spices.each do |c|%>
      <%= link_to c.name, Spice.find(c.id) %>
    <% end%>
  </p>
</div>
