<h1>About</h1>
<%= image_tag("Recipes.png")%>
<p>Using a few Faker generators like Food and nationality, the database around recipes will be populated.<br>
Each recipe has one ethnic category, each category can have 0 or many recipes<br>
Each creator can create 0 or many recipes, each recipe belongs to one creator.<br>
Each recipe contains 1 or many spices, a spice can belong to 0 or many recipes<br>
</p>
